<html>
<body>
    <form action="/form_example/myform/" method="POST">
        <p>
            Username:
            <br/>
            <input type="text" value="" name="usernameZZZ" />
        </p>
        <p>
            Password:
            <br/>
            <input type="password" value="" name="password" />
        </p>
        <p>
            Favorite Color:
            <br/>
            <select name="color">
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
            </select>
        </p>

        <p>
            <input type="submit" value="Do You Feel Lucky? Well, Do You?" />
        </p>
    </form>
</body>
</html>
